{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-console": "off",
    "no-unused-vars": [
      "error",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "comma-dangle": [
      "error",
      {
        "functions": "never",
        "arrays": "only-multiline",
        "objects": "only-multiline"
      }
    ],
    "no-else-return": [
      1,
      {
        "allowElseIf": true
      }
    ],
    "operator-linebreak": ["error", "after"],
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": { "multiline": true },
        "ObjectPattern": { "multiline": true },
        "ImportDeclaration": "never",
        "ExportDeclaration": { "multiline": true }
      }
    ],
    "react/button-has-type": [0, "never"],
    "react/prop-types": [0],
    "react/jsx-boolean-value": [0, "never"],
    "react/jsx-one-expression-per-line": [0, { "allow": "single-child" }],
    "react/jsx-props-no-spreading": [0, { "custom": "ignore" }],
    "react/state-in-constructor": "off",
    "react/jsx-closing-tag-location": "off",
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": false
      }
    ]
  }
}
